{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-node",
    "transform-object-rest-spread"
  ]
}